{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-5">Редактирование задачи: {{ task.title }}</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.project }}
            {{ form.project.label_tag }}
        </div>
        <div class="form-floating mb-3">
            {{ form.title }}
            {{ form.title.label_tag }}
        </div>
        <div class="form-floating mb-3">
            {{ form.description }}
            {{ form.description.label_tag }}
        </div>
        <div class="form-floating mb-3">
            {{ form.due_date }}
            {{ form.due_date.label_tag }}
        </div>
        <div class="form-floating mb-3">
            {{ form.status }}
            {{ form.status.label_tag }}
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="{% url 'tasks' %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}