{% extends 'base.html' %}


{% block content %}
    <section class="container p-5" style="min-height: calc(100vh - 56px - 56px)">
        <h1 class="mb-4">My blog</h1>
        {% for post in posts %}
            <div class="card mb-3">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.pub_date }}</h6>
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <a href="{% url 'detail' post.id %}" class="card-link">Подробнее</a>
              </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}